body {
    background-color:#e8e8ec;    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}   

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.text-comments{
    width:500px;
    height: 300px;
}


.question-form{
    border-radius: 5px;
    background-color: silver;
}

input.ng-invalid{
    border-color: red !important;
}